Repository hongocquyen/weather-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, stylelint --config .stylelintrc.json

.lintstagedrc.json:

{
  "*.{ts,tsx,vue,js,jsx}": ["prettier --write", "eslint --cache --fix"],
  "*.json": ["prettier --write"],
  "*.{css,scss}": ["prettier --write", "stylelint --config .stylelintrc.json"]
}

feat: setup react-query
  .env.example
  .gitignore
  assets/svg/ic_loading.svg
  package.json
  src/_variables.scss
  src/app/global.scss
  src/app/layout.tsx
  src/app/providers.tsx
  src/components/Button/index.tsx
  src/components/Button/styles.module.scss
  src/components/Spinner/styles.module.scss
  src/configs/constants.ts
  src/configs/endpoints.ts
  src/views/Homepage/index.tsx
  yarn.lock
Due: prettier --write, eslint --cache --fix, stylelint --config .stylelintrc.json

feat: setup logic call api
  .env.example
  src/api/weather.ts
  src/app/page.tsx
  src/app/providers.tsx
  src/components/Checkbox/index.tsx
  src/components/Checkbox/styles.module.scss
  src/hooks/useGeolocation.ts
  src/hooks/useWeather.ts
  src/models/types.ts
  src/views/Homepage/index.tsx
Due: prettier --write, eslint --cache --fix, stylelint --config .stylelintrc.json

feat: implement UI current weather
  next.config.mjs
  src/_variables.scss
  src/app/page.tsx
  src/components/Skeleton/index.tsx
  src/components/Skeleton/styles.module.scss
  src/utils/date.ts
  src/utils/weather.ts
  src/views/Homepage/components/CurrentWeather/CurrentWeatherSkeleton/index.tsx
  src/views/Homepage/components/CurrentWeather/CurrentWeatherSkeleton/styles.module.scss
  src/views/Homepage/components/CurrentWeather/index.tsx
  src/views/Homepage/components/CurrentWeather/styles.module.scss
  src/views/Homepage/config.ts
  src/views/Homepage/index.tsx
  src/views/Homepage/styles.module.scss
Due: prettier --write, eslint --cache --fix, stylelint --config .stylelintrc.json

fix: local timestamp api
  src/views/Homepage/components/CurrentWeather/index.tsx
Due: prettier --write, eslint --cache --fix

feat: implement UI forecastList
  src/_variables.scss
  src/utils/forecast.ts
  src/utils/weather.ts
  src/views/Homepage/components/CurrentWeather/index.tsx
  src/views/Homepage/components/CurrentWeather/styles.module.scss
  src/views/Homepage/components/ForecastList/ForecaseItem/index.tsx
  src/views/Homepage/components/ForecastList/ForecaseItem/styles.module.scss
  src/views/Homepage/components/ForecastList/ForecastListSkeleton/index.tsx
  src/views/Homepage/components/ForecastList/ForecastListSkeleton/styles.module.scss
  src/views/Homepage/components/ForecastList/index.tsx
  src/views/Homepage/components/ForecastList/styles.module.scss
  src/views/Homepage/index.tsx
  src/views/Homepage/styles.module.scss
Due: prettier --write, eslint --cache --fix, stylelint --config .stylelintrc.json

feat: setup search page and logic search suggestion
  assets/svg/ic_check.svg
  assets/svg/ic_search.svg
  src/app/layout.tsx
  src/app/search/page.tsx
  src/components/Header/index.tsx
  src/components/Header/styles.module.scss
  src/hooks/useDebounce.ts
  src/hooks/useWeather.ts
  src/models/enums.ts
  src/views/SearchPage/components/SearchInput/index.tsx
  src/views/SearchPage/components/SearchInput/styles.module.scss
  src/views/SearchPage/index.tsx
  src/views/SearchPage/styles.module.scss
Due: prettier --write, eslint --cache --fix, stylelint --config .stylelintrc.json

feat: implement history search and update skeleton, handle error
  assets/svg/ic_delete.svg
  assets/svg/ic_search.svg
  src/components/Header/index.tsx
  src/components/Header/styles.module.scss
  src/hooks/useSearchHistory.ts
  src/utils/searchHistory.ts
  src/views/Homepage/components/CurrentWeather/CurrentWeatherSkeleton/index.tsx
  src/views/Homepage/components/CurrentWeather/CurrentWeatherSkeleton/styles.module.scss
  src/views/Homepage/components/CurrentWeather/index.tsx
  src/views/Homepage/components/CurrentWeather/styles.module.scss
  src/views/Homepage/components/ForecastList/ForecastListSkeleton/index.tsx
  src/views/Homepage/components/ForecastList/ForecastListSkeleton/styles.module.scss
  src/views/Homepage/components/ForecastList/index.tsx
  src/views/Homepage/components/ForecastList/styles.module.scss
  src/views/SearchPage/components/SearchHistory/index.tsx
  src/views/SearchPage/components/SearchHistory/styles.module.scss
  src/views/SearchPage/components/SearchInput/index.tsx
  src/views/SearchPage/index.tsx
Due: prettier --write, eslint --cache --fix, stylelint --config .stylelintrc.json

chore: update README.md
  README.md
Due: none

fix: suspense useSearchParams
  src/app/layout.tsx
  src/app/page.tsx
  src/views/Homepage/index.tsx
  src/views/SearchPage/components/SearchHistory/index.tsx
Due: prettier --write, eslint --cache --fix

fix: http -> https
  src/configs/endpoints.ts
Due: prettier --write, eslint --cache --fix
